<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.user.first_name %> et Welcome to event  <%= @attendance.event.title %> !</h1>
    <p>
      : <%= @url %>.
    </p>
    <p> Xoxo
  </body>
</html>
